
body{
	font-family:'メイリオ',Meiryo,sans-serif;
}

/*
span.customSelect {
	font-size:14px;
	color:#3f657b;
	line-height: 33px;
	height: 100%;
	width: 100%;
	padding: 0 0 0 10px;
	background:url(w_f.png); !important;
}
*/

.ui-select{
	/* background:#000 !important; */
	color:#ccc !important;
}

.ui-content{
	background:#fff !important;
}


/*---１---*/
.ui-widget-header{
    /*background:#57b280;*/
    background:#ccff66;
}
/*---２---*/
.ui-widget-content{
/*    background:#f9fa9a;*/
    background:#fff;

}
/*---３---*/
.ui-tabs .ui-tabs-nav li{
/*    background:#57b280;*/
    background:#ccff66;

}
/*---４---*/
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
/*    background:#f9fa9a;*/
    background:#fff;

}
 
/*---タブタイトル文字の色変更---*/
.ui-tabs .ui-tabs-nav li a:link{
    color:#006600;
    text-shadow:none;
}
.ui-tabs .ui-tabs-nav li a:hover{
    color:#000000;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a:link{
    color:#000000;
}

/*トグルスイッチ*/
.toggleLabel{
  display: block;
  width:100%;
  height:100%;
  box-shadow:inset 0 0 0 1px #ddd;
  border-radius:25px / 50%;
  font-size:1.3rem;
/*   font-weight:bold; */
  color:#bbb;
  text-align:right;
  cursor:pointer;
  padding-right: 11px;
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  background-color:#aa0;
  font-weight:normal;
}
.toggleLabel:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:35%;
  height:100%;
/*   border-radius:50%; */
  border-radius:10rem;
  box-shadow: inset 0 0 0 1px #ddd, 0 2px 4px #eee;
  background-color:#eee;
  background-image: linear-gradient(#fff 0%, #eee 50%, #ddd 100%);
  border-radius:10rem;
}
.toggleLabel:after{
  content:"現在";
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  box-sizing:border-box;
  color:#fff;
  padding-left:35%;
  padding-top:0.6rem;
  text-align:left;
  background-color:#00cc1b;
  z-index:-1;
  
  font-size:1rem;
}
.toggleLabel:before,
.toggleLabel:after{
    transition:all 0.1s linear;
}
#toggle:checked + label:before{
  left:65%;
  display:block;
  float:right;
}
#toggle:checked + label:after{
  left:0;
}
.toggleLabel span{
/* 	visibility:hidden; */
/* position:relative; */
  color:#fff;
  margin-right:-0.8rem;
  text-align:center;
  vertical-align:middle;

  background-color:#334eff;

  z-index:-1;
}